<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">

</head>

<body>

    <div class="container">

        <div class="content-cadastro" id="cadastro">

            <h1>Cadastro</h1>

            <form action="/submit" method="POST" autocomplete="off">

                <div class="info-cadastro">
                
                    <label for="name">Nome:</label>
                    <input type="text" name="name" id="name" required>
                
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password">
                
                </div>

                <p>Já tem uma conta? <a href="#" onclick="login()">Clique aqui para fazer login</a></p>

                <button>Cadastrar</button>

            </form>

        </div>

        <div class="content-login" id="login">

            <h1>Login</h1>

            <form action="/submit" method="POST" autocomplete="off">

                <div class="info-login">
                
                    <label for="name">Nome:</label>
                    <input type="text" name="name" id="name" required>
                
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password">
                
                </div>

                <p>Não tem uma conta? <a href="#" onclick="cadastro()">Clique aqui para fazer um cadastro</a></p>

                <button>Login</button>

            </form>

        </div>

    </div>

    <script src="/static/js/script.js"></script>
    
</body>

</html>